:root {
    --Iris-PrimaryBrand: #4D5AE5;
    --Ocean-Pressedstate: #404BBF;
    --NavyBlue-Dark: #2e2f42;
    --Green-Success: #31D0AA;
    --Slate-Text: #434455;
    --LightSlate-SubtleText: #8e8f99;
    --Cornflower-Accent: #e7e9ec;
    --Cloud-Light: #f4f4fd;
    --NavyBlueModal-Modaloverlay: rgba(46, 47, 66, 0.4);
    --Grey-Herobackground: rgba(46, 47, 66, 0.7);
    --White-Whitebackground: #ffffff;
    --Dairy-Modalbackround: #fcfcfc;


}

li {
    list-style: none;
}

@media screen and (min-width: 1200px) {
    body {
        box-sizing: border-box;
        font-family: "Roboto" sans-serif;
        margin: auto;
        max-width: 1440px;
    }
 
} 
 
@media screen and (min-width: 1200px) {
    .container-portfolio{ 
        max-width: 1440px;     
       
        padding-top: 100px; 
        padding-bottom: 120px;


    } 
 
}  

@media screen and (min-width: 1200px) {
    .portfolio-list-bth{  
        width: 586px;  
        height: 48px; 
        padding-left: 0px;  
        margin-left: 427px; 
        margin-right: 427px;
        margin-bottom: 72px;

      
        display: flex; 
        justify-content: space-between;


    }  
     
    .portfolio-bth{
        box-sizing: content-box;  
        padding: 12px 24px; 

        border-radius: 4px;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--cloud, #F4F4FD);
        color: var(--Iris-PrimaryBrand);
    } 

    .portfolio-bth:hover{ 
        color: var(--White-Whitebackground);
        background: var(--ocean, #404BBF);
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
 
}  


@media screen and (min-width: 1200px) {
    .container-works {
     
    padding: 0px 156px 0px 156px;

    }
 
    .list-works{ 
        display: flex; 
        flex-wrap: wrap; 
        padding-left: 0px; 
        gap: 24px;
    }  
     
    .list-works> li{ 
        width: 360px;
        height: 420px;
    } 

    .box-overlay{
        position: relative;
        overflow: hidden;
    }
     
    .box-overlay:hover .overlay-portfolio{  
        translate: 0%;
    } 
     
    .box-overlay > img{ 
        display: block;
        width: 100%;
        height: 300px;
         object-fit: cover;
    } 

    .overlay-portfolio{ 
        position: absolute;
        inset: 0;
        background-color: var(--Iris-PrimaryBrand);
        color: #fff;
        translate: 0 100% 0;
        transition: translate 250ms; 

        padding: 40px 32px 164px 32px;
    }  

    .info-works{  
        padding: 32px 16px 32px 16px;
        border: 1px solid var(--cornflower, #E7E9FC);
        background: var(--white, #FFF);
    }

    .list-works1{ 
        font-size: 20px;
        font-weight: 500; 
        color: var(--NavyBlue-Dark); 
        margin-top: 0px;
    } 

    .list-works2{ 
        color: var(--Slate-Text); 
        margin-bottom: 0px;
    }  
     
    .info-works:hover{ 
        border: 1px solid var(--cloud, #F4F4FD);
        background: var(--white, #FFF);
        box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    }
}